<header>
    <div class="container">
        <nav>
            <ul class="list-divider-pipe">
              <li><a href="http://blog.bnb.im"><i class="fa fa-paragraph"></i></a></li>
              <li><a href="https://bnb.cupcake.is"><i class="fa fa-chevron-up"></i></a></li>
              <li><a href="https://github.com/bnb"><i class="fa fa-github-alt"></i></a></li>
              <li><a href="https://keybase.io/bang"><i class="fa fa-eye-slash"></i></a></li>
            </ul>
        </nav>

        <a href="/{{site.url}}">
          <h1 class="logo">bnb</h1>
        </a>
    </div>
</header>
